PL/Connected Services/ServiceReferenceLibro/ServiceLibro2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ML" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51030/ServiceLibro.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:51030/ServiceLibro.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="Libro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="tns:Autor" />
      <xs:element minOccurs="0" name="FechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdLibro" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Libros" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPaginas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libro" nillable="true" type="tns:Libro" />
  <xs:complexType name="Autor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Autores" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="IdAutor" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autor" nillable="true" type="tns:Autor" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correct" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Ex" nillable="true" type="q3:Exception" />
      <xs:element minOccurs="0" name="Object" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Objects" nillable="true" type="q4:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>